
:root {
    --colorColorsBlack: #000000;    
    --colorColorsWhite: #ffffff;    
    --colorColorsGray100: #f7fafc;    
    --colorColorsGray200: #edf2f7;    
    --colorColorsGray300: #e2e8f0;    
    --colorColorsGray400: #cbd5e0;    
    --colorColorsGray500: #a0aec0;    
    --colorColorsGray600: #718096;    
    --colorColorsGray700: #4a5568;    
    --colorColorsGray800: #2d3748;    
    --colorColorsGray900: #1a202c;    
    --colorColorsRed100: #fff5f5;    
    --colorColorsRed200: #fed7d7;    
    --colorColorsRed300: #feb2b2;    
    --colorColorsRed400: #fc8181;    
    --colorColorsRed500: #f56565;    
    --colorColorsRed600: #e53e3e;    
    --colorColorsRed700: #c53030;    
    --colorColorsRed800: #9b2c2c;    
    --colorColorsRed900: #742a2a;    
    --colorColorsOrange100: #fffaf0;    
    --colorColorsOrange200: #feebc8;    
    --colorColorsOrange300: #fbd38d;    
    --colorColorsOrange400: #f6ad55;    
    --colorColorsOrange500: #ed8936;    
    --colorColorsOrange600: #dd6b20;    
    --colorColorsOrange700: #c05621;    
    --colorColorsOrange800: #9c4221;    
    --colorColorsOrange900: #7b341e;    
    --colorColorsYellow100: #fffff0;    
    --colorColorsYellow200: #fefcbf;    
    --colorColorsYellow300: #faf089;    
    --colorColorsYellow400: #f6e05e;    
    --colorColorsYellow500: #ecc94b;    
    --colorColorsYellow600: #d69e2e;    
    --colorColorsYellow700: #b7791f;    
    --colorColorsYellow800: #975a16;    
    --colorColorsYellow900: #744210;    
    --colorColorsGreen100: #f0fff4;    
    --colorColorsGreen200: #c6f6d5;    
    --colorColorsGreen300: #9ae6b4;    
    --colorColorsGreen400: #68d391;    
    --colorColorsGreen500: #48bb78;    
    --colorColorsGreen600: #38a169;    
    --colorColorsGreen700: #2f855a;    
    --colorColorsGreen800: #276749;    
    --colorColorsGreen900: #22543d;    
    --colorColorsTeal100: #e6fffa;    
    --colorColorsTeal200: #b2f5ea;    
    --colorColorsTeal300: #81e6d9;    
    --colorColorsTeal400: #4fd1c5;    
    --colorColorsTeal500: #38b2ac;    
    --colorColorsTeal600: #319795;    
    --colorColorsTeal700: #2c7a7b;    
    --colorColorsTeal800: #285e61;    
    --colorColorsTeal900: #234e52;    
    --colorColorsBlue100: #ebf8ff;    
    --colorColorsBlue200: #bee3f8;    
    --colorColorsBlue300: #90cdf4;    
    --colorColorsBlue400: #63b3ed;    
    --colorColorsBlue500: #4299e1;    
    --colorColorsBlue600: #3182ce;    
    --colorColorsBlue700: #2b6cb0;    
    --colorColorsBlue800: #2c5282;    
    --colorColorsBlue900: #2a4365;    
    --colorColorsIndigo100: #ebf4ff;    
    --colorColorsIndigo200: #c3dafe;    
    --colorColorsIndigo300: #a3bffa;    
    --colorColorsIndigo400: #7f9cf5;    
    --colorColorsIndigo500: #667eea;    
    --colorColorsIndigo600: #5a67d8;    
    --colorColorsIndigo700: #4c51bf;    
    --colorColorsIndigo800: #434190;    
    --colorColorsIndigo900: #3c366b;    
    --colorColorsPurple100: #faf5ff;    
    --colorColorsPurple200: #e9d8fd;    
    --colorColorsPurple300: #d6bcfa;    
    --colorColorsPurple400: #b794f4;    
    --colorColorsPurple500: #9f7aea;    
    --colorColorsPurple600: #805ad5;    
    --colorColorsPurple700: #6b46c1;    
    --colorColorsPurple800: #553c9a;    
    --colorColorsPurple900: #44337a;    
    --colorColorsPink100: #fff5f7;    
    --colorColorsPink200: #fed7e2;    
    --colorColorsPink300: #fbb6ce;    
    --colorColorsPink400: #f687b3;    
    --colorColorsPink500: #ed64a6;    
    --colorColorsPink600: #d53f8c;    
    --colorColorsPink700: #b83280;    
    --colorColorsPink800: #97266d;    
    --colorColorsPink900: #702459;    
    --colorFgMuted: var(--colorColorsGray300);    
    --colorFgDefault: var(--colorColorsWhite);    
    --colorFgSubtle: var(--colorColorsGray500);    
    --colorBgDefault: var(--colorColorsGray900);    
    --colorBgMuted: var(--colorColorsGray700);    
    --colorBgSubtle: var(--colorColorsGray600);    
    --colorAccentDefault: var(--colorColorsIndigo600);    
    --colorShadowsDefault: var(--colorColorsGray100);    
    --colorButtonPrimaryBackground: var(--colorAccentDefault);    
    --colorButtonGhostOutline: var(--colorFgDefault);    
    --colorButtonGhostText: var(--colorFgDefault);    
}